<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/indexStyle.css">
  <title>AllAnswers</title>
</head>
<body>

<header th:replace="fragments/base.html :: intestazione"> </header>
  
  
  	
    
    <section>
      <!-- main paragraph --> 
      <p id="sottotitolo">Create new question</p>
      <!-- Two column-type things --> 
      <div id="container">
        

        <div th:if="${topic}" th:object="${topic}">
          <h4>Topic:</h4>
          <span th:text="*{titolo}">nome</span>
          <h4>Descrizione:</h4>
          <p th:utext="*{descrizione}">descrizione</p>
        </div>
        <div th:unless="${topic}">Non esiste</div>

        <form th:action="@{/domanda}" method="POST" th:object="${domanda}">
          <div th:if="${#fields.hasGlobalErrors()}">
              <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
          </div>    
          <div>
            <div>
              <span>Title:</span>
              <span><input type="text" th:field="*{titolo}" /></span>
              <span th:if="${#fields.hasErrors('titolo')}" th:errors="*{titolo}"></span>
            </div>    
            <div>
              <span>Text:</span>
              <span><input type="text" th:field="*{testo}" /></span>
              <span th:if="${#fields.hasErrors('testo')}" th:errors="*{testo}"></span>
            </div>
            <div>
              <span><button type="submit">Invio</button></span>
            </div>
          </div>
        </form>
      
  	
      </div>

    </section>
    <footer></footer>
    
    
  
</body>
</html>