<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<head th:replace="fragments/base.html :: headerfiles">
<title>AllAnswers</title>
</head>
<body>

	<header th:replace="fragments/base.html :: intestazione"> </header>




	<section>
		<!-- main paragraph -->
		<p id="sottotitolo" th:text="#{header.home}">Best questions of the
			week</p>
		<!-- Two column-type things -->
		<div id="container">

			<div th:each="domanda:${domande}">
				<section>

					<!-- Two column-type things -->
					<div id="container" class="domandaBox">

						<section>

							<!-- Two column-type things -->
							<div id="container" class="box">
								<a id="titoloDomanda" href="domanda.html"
									th:href="@{'/domanda' + '/' + ${domanda.id}}"
									th:text="${domanda.titolo}">Domanda</a>

								<p th:if="${#strings.length(domanda.testo)>99}"
									th:text="${#strings.substring(domanda.testo,0,99)}+'...' ">Testo
									della domanda</p>
								<p th:unless="${#strings.length(domanda.testo)>99}"
									th:text="${domanda.testo} ">Testo della domanda</p>
								<p th:text="${domanda.data}">Data della domanda</p>
							</div>
							</section>
					</div>
				
	</section>
	</div>

	</div>

	</section>
	<footer></footer>



</body>
</html>
