<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <head th:replace="fragments/base.html :: headerfiles">
  <link rel="stylesheet" type="text/css" href="/css/risposteStyle.css">
  <link rel="stylesheet" type="text/css" href="/css/formStyle.css">
  <title>AllAnswers</title>
</head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
    <div>
    	
    	<section>
      <!-- main paragraph --> 
      <p id="sottotitolo" th:text="#{header.risposta}">My answers</p>
      <!-- Two column-type things --> 
      <div id="container">
    	
    	<form th:action="@{'/'+${domanda.id}+'/addRisposta'}" method="POST" th:object="${risposta}">
              
              <div class="row">
          		<div class="input-field col s12">
            		<textarea id="textarea2"  th:field="*{testo}" class="materialize-textarea" data-length="120"></textarea>
            			<label for="textarea2" th:text="#{testo}">Textarea</label>
          		</div>
        	  </div>
        	  
              <span id="errore" th:if="${#fields.hasErrors('testo')}" th:errors="*{testo}"></span>
              <br th:if="${#fields.hasErrors('testo')}">
      <span><button class="btn waves-effect waves-light button" type="submit" name="action">Submit
  			</button></span>
  			
      </form>
    </div>
    </section>
    	</div>
    
    
   	
</body>
</html>