<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<head th:replace="fragments/base.html :: headerfiles"> </head>
<link rel="stylesheet" type="text/css" href="/css/formStyle.css">
  <title>AllAnswers</title>
</head>
<body>

<header th:replace="fragments/base.html :: adminIntestazione"> </header>
  
  
  	
    
    <section>
      <!-- main paragraph --> 
      <p id="sottotitolo">New topic</p>
      <!-- Two column-type things --> 
      <div id="container">
        


        <form th:action="@{'/admin/newTopic'}" method="POST" th:object="${topic}">
          <div th:if="${#fields.hasGlobalErrors()}">
              <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
          </div>    
          <div>
            <div>
              
              <div class="row">
          			<div class="input-field col s6">
            		<input id="input_text" type="text" th:field="*{titolo}">
           			 <label for="input_text" th:text="#{titolo}">Input text</label>
          		</div>
        </div>
              <span id="errore" th:if="${#fields.hasErrors('titolo')}" th:errors="*{titolo}"></span>
            </div>    
            <div>
             <div class="row">
          		<div class="input-field col s12">
            		<textarea id="textarea2"  th:field="*{descrizione}" class="materialize-textarea" data-length="120"></textarea>
            			<label for="textarea2" th:text="#{descrizione}">Textarea</label>
          		</div>
        	  </div>
              <span id="errore" th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></span>
            </div>

            
            <div>
              <span><button class="btn waves-effect waves-light button" type="submit">Invio</button></span>
            </div>
          </div>
        </form>
         
  
  

  
  	
      </div>

    </section>
    <footer></footer>
    
    
  
</body>
</html>