<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="/css/indexStyle.css">
</head>
<body>
	<header th:fragment="intestazione">
	<div class="topnav">
    <a class="active" href="/home">Home</a>
    <a href="/addQuestion">New Question</a>
    <a href="/domanda">My Question</a>
    <a href="/risposte">My answers</a>
    <a href="/explore">Explore</a>
    <a href="/logout" id="logout">Logout</a>
  </div>  
  	<h1>All Answers</h1>
	</header>

</body>
</html>